<!--model SalesWebMVC.Models.Seller-->
<!--estou declarando que essa view terá a disposição dela o objeto Seller, assim pegando o atributo 'NAME'-->

@model SalesWebMVC.Models.ViewModels.SellerFormViewModel
<!--Atualizado (Name agr recebe, Seller.Name-->

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr /> <!--Passar uma linha-->
<div class="row"> <!--Class row do bootstrap que garante que a div ocupa a largura da tela-->
    <div class="col-md-4"> <!--Para o formulário ocupar 1 terço da tela (divide a tela em 12 partes, entao 4 = 1/3, 6 = 1/2-->
        <form asp-action="Create">
            <!--helper para definir que assim que enviado o formulario, eu vou chamar a ação "Create" mas não é a ação que foi criada. Ela é a ação create do metódo Post(que será criada no controlador)-->
            <div class="form-group">
                <!--bootstrap-->
                <!--tag helper 'asp-for' é para definir o label que irá aparecer na caixinha que ira digitar -->
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class=form-control />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class=form-control />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class=form-control />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class=form-control />
            </div>
            <!--Caixa de seleção-->
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <!--tag helper 'asp-items', constrói os items na caixa da seleção com base uma coleção passada. (Model.Departaments é a fonte de dados. O segundo argumento fala assim, qual é o atributo desse objeto que vai ser a chave? "id". O terceiro argumento é: qual atributo vai aparecer na caixinha? "Name".-->
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id","Name"))" class="form-control"></select>
                <!--Não é necessario att o POST do SellerController pois o framework sabe atraves do atributo DepartmentId e instancia com o codigo de Department dele(ou seja, nome iguais, automaticamente) -->
            </div>
            <!--Botão cadastrar-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>        
    </div>

</div>

